body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    transition: background-color 0.3s, color 0.3s;
  }
  header {
    background: #333;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
  }

  #timer {
    text-align: center;
    font-size: 18px;
    color: red;
    margin-bottom: 10px;
  }

  #quiz {
    margin: 20px;
  }
  #result {
    margin: 20px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
  }
  button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  button:hover {
    background: #0056b3;
  }
 
  body.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

body.dark-mode header {
    background-color: #1e1e1e;
}

body.dark-mode button {
    background-color: #4a4a4a;
    color: white;
}

.correct-answer {
  background-color: #4CAF50;
  color: white;
}

.wrong-answer {
  background-color: #F44336;
  color: white;
}